---
layout: default
title: VND.cash Vietnamese Stablecoin
---


{% comment %} 
{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is your last template theme ever!" button-text="Buy Now" %}
{% endcomment %} 

{% include sections/about.html %}

{% comment %} 
{% include sections/features.html %}

{% include sections/portfolio.html %}

{% include sections/parallax-features.html %}

{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is here, download now!" button-text="Buy Now" %}

{% include sections/testimonials.html %}


{% include sections/blog.html %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span>, a new generation of themes!" button-text="Buy Now" %}

{% include sections/prices.html %}
{% endcomment %}

{% include sections/contact.html %}

