<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.about-description }}</p>
      </div>

    </div>

  </div>
</section>
<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>A Multi-chain Tokenized Vietnam Dong Stablecoin</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>VND.cash is the first attested crypto-asset tied to the value of the Vietnam Dong (VND). It allows users to have exposure to VND as opposed to USD but with the ease of movement of cryptocurrencies. VND.cash is programmable cash.</p>
      </div>

    </div>

  </div>
</section>
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Omni-chain Support</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>VND.cash tokens are issued on a supported network at the request of the depositor. Tokens can automatically be converted across chains. Token standards such as Simple Ledger Protocol (SLP) on the Bitcoin Cash network will be supported.</p>
      </div>

    </div>

  </div>
</section>
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Exchange inside and outside of Vietnam</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>Convert to and from VND.cash using online exchanges, local OTC brokers, and domestic bank transfers in Vietnam and in other countries.</p>
      </div>

    </div>

  </div>
</section>
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Partners</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>VND.cash has the support of Vietnamese OTC trading groups, Vietnam-based crypto and fiat exchanges, wallet providers, and financial institutions. Services for buying and selling from VND.cash to VND will come online simultaneously. Contact us to become a partner.</p>
      </div>

    </div>

  </div>
</section>
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>KYC</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>Experienced fiat on-ramp and off-ramp partners will implement their standard KYC procedures according to the rules and regulations of Vietnam applicable to both Vietnamese nationals and foreigners.</p>
      </div>

    </div>

  </div>
</section>
